html {
  margin: 10px;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#meter {
  border-bottom: 1px solid gray;
  height: 132px;
  left: 50%;
  margin-left: -132px;
  position: absolute;
  width: 264px;
  overflow: hidden;
}
#meter div {
  position: absolute;
  height: 100%;
  width: 100%;
}
#meter .circle {
  height: 264px;
  width: 264px;
}
#meter .circle:before {
  border: 12px solid lightgrey;
  border-bottom: none;
  border-radius: 132px 132px 0 0;
  content: '';
  display: block;
  height: 120px;
  width: 240px;
}
#meter .circle.fill {
  text-indent: -180px;
  -webkit-transform: rotate(-180deg);
}
#meter .circle.fill:before {
  border-color: green;
}
#meter .metric {
  text-align: center;
  top: 36.5px;
}
#meter .metric .percent {
  font-size: 45px;
}
#meter .metric .label {
  font-size: 14px;
  text-transform: uppercase;
}
